// Mixins Here

.flex(@direction: row) {
    display: flex;
    flex-direction: @direction;
    align-items: center;
}

// mixin for basic nav link styling
.a-links(@text-color: black) {
    text-decoration: none;
    font-size: 1.5rem;
    color: @text-color;
}

//sign up button mixin
.btn-small(@btn-color: @btn-bg-color, @btn-text-color: white) {
    width: 30%;
    min-width: 100px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    background-color: @btn-color;
    color: @btn-text-color;
    font-size: 1.7rem;


    &:hover {
        background-color: @btn-text-color;
        color: @btn-color;
    }
}

//animations
.float-animation(@duration: 10s, @direction: reverse, @start-position: 220%) {
    animation-duration: @duration;
    animation-iteration-count: initial;
    transform-origin: 50%;
    animation-name: basic-float;
    animation-timing-function: ease-in-out;
    animation-direction: @direction;

    @keyframes basic-float {
        0% {
            transform: scale(1, 1) translateX(0);
        }

        50% {
            transform: scale(1, 1) translateX(0);
        }

        100% {
            transform: translateX(@start-position);
        }
    }
}