// Navigation code here
nav {
    .flex(column);
    
    background-color: @nav-bg;
    border-bottom: 2px solid @nav-border;
    position: fixed;
    width: 100%;

    .main-title {
        font-size: 4rem;
        padding: 10px 0 5px;
        .float-animation(10s, reverse, -220%);

        @media @phone {
            .float-animation(7s, reverse, -2%);
        }
    }

    .nav-links {
        display: flex;
        min-width: 400px;
        justify-content: space-between;
        padding: 10px 0;
        font-weight: 600;

        .float-animation(10s, reverse, -220%);
        
        @media @phone {
            width: 80%;

            .float-animation(7s, reverse, -140%);
        }

        a {
            .a-links(@nav-font);
        }
    }
} // nav