// Navigation code here
nav {
    .flex(column);

    background-color: @nav-bg;
    border-bottom: 2px solid @nav-border;

    .main-title {
        font-size: 4rem;
        padding: 10px 0 5px;
    }

    .nav-links {
        display: flex;
        width: 40%;
        justify-content: space-between;
        padding: 10px 0;

        a {
            .a-links(@nav-font);
        }
    }
} // nav